<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolim Studios</title>
    <link rel="Stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body >
    

    <div class="cabecalho">
        <div id="logo">
            <a href="index.html"><img src="imagens/logo2.png" alt="" height="100%"></a>
        </div>
        <div class="slogan">
            <h1>Desenvolvendo seus sonhos...</h1>
        </div>
        <nav >
            <a href=""> <div class="link">Contato</div></a>
            <a href=""> <div class="link">Sobre nós</div></a>
            <a href="index.html"> <div class="link">Home</div></a>
            
        </nav>

    </div>
    
    <div class="conteudo">
        <div class="titulo1">Aplicativos Móveis e Softwares</div>
        <div class="ContImg"><img class= "imgcont" src="imagens/appsoft.jpg" alt=""></div>
        <div class="ContTxt">Desenvolvemos aplicativos e Softwares para o seu negócio!</div>
    </div>

    <div class="conteudo">
        <div class="titulo1">Games</div>
        <div class="ContImg"><img class= "imgcont" src="imagens/gamedev.png" alt=""></div>
        <div class="ContTxt">Os melhores jogos para Smartphones e PC!</div>
    </div>

        
    
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div id="rodape">
        Todos os Direitos Reservados.
    </div>

</body>
</html>