<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolim Solutions</title>
    <link rel="Stylesheet" href="../static/style.css">
</head>
<body background="../static/img/textura1.png" >
    

    <div class="cabecalho">
        <div id="logo">
            <a href="../templates/index.html"><img src="../static/img/logo2.png" alt="" height="100%"></a>
        </div>
        <div class="slogan">
            <h1>Desenvolvendo seus sonhos...</h1>
        </div>
        <nav >
            <a href="/login"> <div class="link">Login</div></a>
            <a href="/"> <div class="link">Contato</div></a>
            <a href=""> <div class="link">Sobre nós</div></a>
            <a href="/"> <div class="link">Home</div></a>

        </nav>

    </div>

    <div class="capa">
        <img class= "imgcapa" src="../static/img/fundo.png" alt="Programação">
    </div>

    <div id="container">

        <div class="informacoes">
            
            <div class="titulo">Aplicativos Móveis e Softwares</div>
            <p>Desenvolvemos aplicativos e Softwares para o seu negócio!</p>

        </div>
        <div class="informacoes">

            <div class="titulo">Games</div>
            <p>Os melhores jogos para Smartphones e PC!</p>

        </div>
        <div class="informacoes">

            <div class="titulo">Web Design</div>        
            <p>Seu site com as melhores tecnologias e inovações do mercado!</p>

        </div>
        <div class="informacoes">   

            <div class="titulo">Rede e Segurança</div>
            <p>Os melhores jogos para Smartphones e PC!</p>

        </div>
        <div class="conteudo">
            <div class="titulo1">Aplicativos Móveis e Softwares</div>
            <div class="ContImg"><img class= "imgcont" src="../static/img/appsoft.jpg" alt=""></div>
            <div class="ContTxt">Desenvolvemos aplicativos e Softwares para o seu negócio!</div>
        </div>

        <div class="conteudo">
            <div class="titulo1">Games</div>
            <div class="ContImg"><img class= "imgcont" src="../static/img/gamedev.png" alt=""></div>
            <div class="ContTxt">Os melhores jogos para Smartphones e PC!</div>
        </div>

            
        
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div id="rodape">
        Todos os Direitos Reservados.
    </div>

</body>
</html>