<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nome}} - Rolim Solutions</title>
    <link rel="Stylesheet" href="../static/style.css">
</head>
<body background="../static/img/textura1.png" >


    <div class="cabecalho">
        <div id="logo">
            <a href="../templates/index.html"><img src="../static/img/logo2.png" alt="" height="100%"></a>
        </div>
        <div class="slogan">
            <h1>Desenvolvendo seus sonhos...</h1>
        </div>
        <nav >
            <a href="http://127.0.0.1:5000/"> <div class="link">Contato</div></a>
            <a href=""> <div class="link">Sobre nós</div></a>
            <a href="http://127.0.0.1:5000/"> <div class="link">Home</div></a>

        </nav>

    </div>
    <br><br><br><br>


    <div class="conteudo">
            <div class="titulo1">Área do usuário</div>
            <h1 class="ContTxt">Bem vindo {{nome}}</h1>
            <div class="ContTxt">Aqui ficará as informações do usuario {{id}} - {{nome}}</div>
            <iframe class="responsive-iframe" src="{{caminho}}"></iframe>

    </div>



        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div id="rodape">
        Todos os Direitos Reservados.
    </div>

</body>
</html>